body {
    background-color: #222;
}

.slide h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
}

svg {
    font: 10px sans-serif;
}

.trueLine {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.forecastLine {
    fill: none;
    stroke: #b22222;
    stroke-width: 1.5px;
}

.axis path, .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #000;
}

ul, ol {
    list-style: none;
}

.gridster h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 0;
    text-align: center;
}

.white {
    background-color: white;
}

.red {
    background-color: #dc5945;
}

.orange {
    background-color: #ec663c;
}

.teal {
    background-color: #12b0c5;
}

.lightteal {
    background-color: #47bbb3;
}

.purple {
    background-color: #9c4274;
}

.green {
    background-color: #96bf48;
}

.icon-start {
    background-image:url("/Images/Play.png");
}

.icon-stop {
    background-image:url("/Images/Stop.png");
}

.icon-background {
width: 100% !important;
height: 100%;
position: absolute;
left: 0;
top: 0;
opacity: 0.1;
}

/* Gridster styles */
.gridster li div {
    position: absolute;
    height: 100%;
    width: 100%;
}

.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
}

.gridster {
    width: 940px;
    margin: 0 auto;
}

.gridster .gs_w {
    cursor: pointer;
}
