body { background-color: #222; }

.slide h2 {
    border: none;
    color: #fff;
    font-size: 1.75em;
}

.deck-container ul {
    margin: 0;    
}

.slide h1 { color: #fff; font-family: 'Ariel' }

.slide h1 .emphasis { color: #12b0c5; }

.slide h1 .emphasisred { color: red; }

.slide .leftside h2 { display: inline-block; }

.slide .leftside input { margin-top: -8px; }

.slide .parameters {
    margin-top: 1em;
}
.slide .parameters label {
    font-size: 25px;
    color: white;
    margin-right: 0.5em;
}
.slide ul {
    color: #fff;
    font-size: 50px;
    left: 0;
    padding: 0 48px;
    position: absolute;
    right: 0;
}

.expanded { width: 100%; }

svg {
    fill: #222;
    font-family: 'Ariel', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.trueLine {
    fill: none;
    stroke: #fff;
    stroke-width: 5px;
}

.forecastLine {
    fill: none;
    stroke: #dc5945;
    stroke-width: 5px;
}

.axis path, .axis line {
    color: #222;
    fill: none;
    shape-rendering: crispEdges;
    stroke: #222;
    stroke-width: 3px;
}

ul, ol { list-style: none; }

.knob canvas { margin-top: 0.1em; }

.white { background-color: white; }

.red { background-color: #dc5945; }

.orange { background-color: #ec663c; }

.teal { background-color: #12b0c5; }

.lightteal { background-color: #47bbb3; }

.purple { background-color: #9c4274; }

.green { background-color: #96bf48; }

.header {
    border-bottom: 2px solid #fff;
    width: 100%;
}

.content { margin-top: 5em; }

legend {
    color: white;
}
label {
    color: white;
}
.rightside {
    float: left;
    height: 100%;
    text-align: right;
    width: 50%;
}

.leftside {
    float: left;
    height: 100%;
    text-align: left;
    width: 100%;
}

.widget {
    display: table-cell;
    padding: 25px 12px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.baseline { vertical-align: baseline; }

.widget .smalltext {
    border: none;
    color: white;
    font-family: 'Ariel', sans-serif;
    font-size: 18px;
    opacity: 0.7;
    padding: 0;
    padding-top: 0.2em;
    text-align: center;
}

.widget label, .widget th, .widget h2 {
    border: none;
    color: white;
    font-family: 'Ariel', sans-serif;
    font-size: 28px;
    opacity: 0.7;
    padding: 0;
    text-align: center;
}

.widget .datatext {
    border: none;
    color: white;
    font-family: 'Ariel', sans-serif;
    font-size: 46px;
    padding-top: 0.1em;
    text-align: center;
}

.widget .tabletext {
    border: none;
    color: white;
    font-family: 'Ariel', sans-serif;
    font-size: 32px;
    text-align: center;
}

.widget table {
    border-collapse: separate;
    width: 100%;
}

table .smalltext {
    border: none;
    color: white;
    font-family: 'Ariel', sans-serif;
    font-size: 18px;
    opacity: 0.7;
    padding: 0;
    text-align: center;
}